/* =============================================== Main Stylesheet used for all pages ===================================================== */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Background styling ========================================== */
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* style all input elements with a required attribute */
/* input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
} */

/**
 * style input elements that have a required
 * attribute and a focus state
 */
/* input:required:focus {
  border: 1px solid red;
  outline: none;
} */

/**
 * style input elements that have a required
 * attribute and a hover state
 */
/* input:required:hover {
  opacity: 1;
}
.form-control{
  color: #f0f0f0;
  background-color: Black;
  border-color: #f0f0f0;
}
.form-control:focus {
  background-color: Black;
  color: #f0f0f0;
  border-color: #175945;
  box-shadow: inset 2px 2px 2px rgba(23, 89, 69, 0.3), 2px 2px 2px rgba(23, 89, 69, 0.3);
} */

.container{
  margin-top: 10%;
}

.card, .btn, .form-control { border-radius: 0; }
#map{
  height: 100%;
}

/* .pac-container:after {
  background-image: none !important;
  height: 0px;
}

.form-control{
  color: #f0f0f0;
  background-color: #343a40;
  border-color: #175945;
}

.form-control:focus {
  background-color: #343a40;
  color: #f0f0f0;
  border-color: #175945;
  box-shadow: inset 0px 1px 1px rgba(23, 89, 69, 1.0), 0 0 8px rgba(23, 89, 69, 1.0);
} */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #175945;
  display:block
}


input:focus + .slider {
  box-shadow: 0 0 1px #175945;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* box styling and inputs inside the box   ================================================= */
.box{
  margin:auto;
  width: 80%;
  background: #ffffff;
  padding: 20px;
  max-width: 800px;
  /* background: maroon; */
  }
.box hr{
  color: black;
  margin: 0 0 15px;

}

.box h2{
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}
.box h3{
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.box input{
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  display: block;
  height:18px
  /* box-sizing: border-box; */
}

/* BUTTON =================================== */
button{
  padding:10px 10px 10px 5px;
  display:block;
  width: 25%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: #4CAF50;
  opacity: 0.6;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
}
button:hover{
  opacity: 1 ;
  cursor: pointer;
}

/* LABEL ======================================= */
.box .formgroup label {
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0px;
  top:0px;
  visibility: hidden  ;
}

.box label{
  /* visibility: hidden; */
  /* position: absolute; */
}
::placeholder{
  color: white;

}




/* Responsiveness phones and tablets ========================== */
/* @media (min-width: 800px) {
  .formgroup {
    background: #f1f1f1;
  }
  ::placeholder{
    /* visibility: hidden; */
  /* } */
  /* .box label{
    visibility: visible;
    font-size: 18px
  }
} */
  /* @media (max-width: 800px) {
    .box{
      width: 100%;
    }
    .box button{
      width: 100%;
    }
  } */
