/* This is the styling for the progress step bar which displays across all form pages.
Should take the significance of each page into account*/
*{
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.containera {
      width: auto;
      margin: auto;
  }
.progressBar{
  counter-reset: step;
}

.progressBar li{
  list-style: none;
  float: left; /*none*/
  width: 25%;
  position: relative;
  text-align: center;
  /*vertical-align: middle;*/
}

.progressBar li::before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
}
.w3-container{
  width: 100%
}
.progressBar li:after{
  content: '';
  position: absolute;
  top: 15px;
  left: -50%;
  border: 2px solid #ddd;
  width: 100%;
  z-index: -1;
  vertical-align: middle;
}

.progressBar li:first-child:after{
  content: none;
}

.progressBar li.active{
  color: #175945;
}

.progressBar li.active:before{
  border-color: #175945;
}

.progressBar li.active + li:before{
  border-color: #175945;
}
.progressBar li.active + li:after{
  border-color: #175945;
}
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:#175945 !important;
} */
