{%extends 'index.html'%}
{%block extra_head%}
{%endblock%}
{%block mainBlock%}
<div id="Animate" class="box">
  <form class="AdminForm" action="/AdminLogin" method="POST">
    <div class="formgroup">
      <center> 
      <img src="..\static\admin.png" class="user" style="width:100px;height100px;">
      <h2> Admin Log In </h2><hr>
      <input type="text" name="" placeholder="Username" required="">
      <input type="Password" name="" placeholder="Password" required="">
      <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
      </center>
    </div>
  </div>
  </form>
  
</div>



{%endblock%}
