<!DOCTYPE html>
<html>
<head>
<title> Admin Page </title>
<link rel="stylesheet" type="text/css" href="..Static/theme/AdminPanel.css">
</head>
<body>
<div id="header">
  <center>
    <img src="adminlogo.png" alt="Admin Logo" id="adminlogo" style="width:100px;height:100px;">
  </center>
</div>

<div id="sidebar">
  <ul>
    <li> Report ID </li>
    <li> Tip Location </li>
    <li> Location Description </li>
    <li> Waste ID </li>
    <li> Image Path </li>
    <li> Administator </li>
  </ul>
</div>

<div id="data"><br>
  <center> <h3> Admin Panel </h3>
    <p> Here, the admin will be able to view certain information from the database </p>
  </center>
</div>


</body>
</html>
