{%extends 'index.html'%}
{%block mainBlock%}
<div id="header">
  <center>
    <img src="..\static\adminlogo.png" alt="Admin Logo" id="adminlogo" style="width:100px;height:100px;">
  </center>
</div>

<div id="data"><br>
  <center> <h3> Admin Panel </h3>
    <p> Here, the admin will be able to view certain information from the database </p>
  </center>
</div>
<form method="GET" action="/Reports">

  <button onclick="button1()" method="GET" action="/Reports"> All Reports </button>
</form>
<div><p><span method="GET"></span> <p></div>

<button onclick="button2()"> All Locations </button>
<div><p> <span id="locations"></span> <p></div>

<button onclick="button3()"> Waste </button>
<div><p> <span id="waste"></span> <p></div>

<script src="\static\jquery.min.js"></script>
<script>

function button1(){
  $('#reports').load('/Reports');

}

function button2(){
  $('#locations').load('/Locations');
}

function button3(){
  $('#waste').load('/Waste');
}


  //  ========================================================
  </script>

{%endblock%}
