{%extends 'index.html'%}
{%block extra_head%}
{%endblock%}
{%block mainBlock%}
<div class="box">
  <form class="AdminForm">
    <div class="formgroup">
      <center> 
        <img src="..\static\admin.png" class="user" style="width:100px;height100px;">
        <h2> Admin Log In </h2>
          <p>Username</p>
          <input type="text" name="" placeholder="Username">
          <p>Password</p>
          <input type="Password" name="" placeholder="Password">
          <div class="Next">
              <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
          </div>
      </center>
    </div>
  </form>
</div>



{%endblock%}
