{%extends 'index.html'%}


{%block mainBlock%}

<!-- <div class="jumbotron text-center"> -->
    <center><h4>Fly-tipping is the illegal deposit of any waste onto land that has no license to accept waste. Fly-tipping can be dangerous, pollute land and waterways and costs the tax payer significant amounts of money to clear away.<br>If you are caught, you will be prosecuted and fined.</h4> </center>
  <!-- </div> -->
    
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3> The Law </h3>
        <p>The legislation tackling fly-tipping is to be found in the Environmental Protection Act 1990, as amended by the Clean Neighbourhoods and Environment Act 2005.</p>
        <p>The harshness of the penalty for fly-tipping depends on the seriousness of the offence, its impact on the environment and the cost of cleaning and dealing with any resulting pollution. Penalties can include a fine of £50,000 and / or 12 months in prison</p>
      </div>
      <div class="col-sm-5">
        <h3>What should you do if you discover fly-tipping?</h3>
        <p>Firstly, remember that your own safety is paramount. Fly-tipped waste may be hazardous. Do not open black bags, drums or containers. Even innocuous-looking waste can cover up or contain harmful items. Furthermore, fly-tippers are committing a crime, and are unlikely to welcome passers-by taking photos or recording details.</p>
      </div>
    </div>
  </div>

<!-- Resource : https://www.ceredigion.gov.uk/resident/bins-recycling/fly-tipping/ -->

{%endblock%}
