{%extends 'index.html'%}


{%block mainBlock%}

<center>
<h3>Fly-tipping is the illegal deposit of any waste on to land that has no license to accept waste.
  Fly-tipping can be dangerous, pollute land and waterways and costs the tax payer significant amounts of money to clear away.
  If you are caught you will be prosecuted and fined.</h3>
</center>

<!-- Resource: https://www.monmouthshire.gov.uk/recycling-and-waste/fly-tipping -->

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3> Law </h3>
      <p>In accordance with the provisions of The Environmental Protection Act 1990 Sections 34, 35 and 59, ‘fly tipping’ (illegally dumping) waste is illegal.</p>
      <p>Fly-tipping is a criminal offence and environmental enforcement officers can issue fixed penalty notices of £75 to those caught illegally dumping rubbish.
      More serious offences could lead to a maximum fine of £50,000 and/or five years in prison.</p>

<!-- Resource: http://ilocal.carmarthenshire.gov.uk/iLocal/ufsmain?formid=REPORT_FLY_TIPPING&ebd=0&ebz=1_1544406715966 -->
    </div>
    <div class="col-sm-5">
      <h3> Private Land </h3>
      <p> On private land it is the responsibility of the landowner to clear the area, and if applicable prove the guilt of the offender.
        Where the flytipping constitutes nuisance or danger of public health, the council can force the landowner to clear the site </p>
      <p> If you think the waste could be hazardous then you should contact the Natural Resource Wales on 03000 65 3000 </p>

      <!-- Resource: https://www.swansea.gov.uk/article/6620/Report-flytipping -->
    </div>
  </div>
</div>


{%endblock%}
