{%extends 'index.html'%}


{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li></li>
    <li class="active"></li>
    <li></li>
  </ul>
</div>
<h2>Add photos</h2>
<form class="container" action="/flyreport4" enctype=multipart/form-data method="POST">
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo"></label>
      <div id="emailRecieve">
          <label for="emailRecieve">would you like to receive emails about your report?</label>
          <input type="checkbox" id="myCheck" onclick="myFunction()"> tick to recieve emails
            <p id="text" style="display:none">
            <br>
            <label>please enter your email</label>
            <input id="descHelper" placeholder="provide email" class="form-control" type="text"></input>
            <small id="Description" class="form-text text-muted">Include valid email</small>
            </p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-8 col-md-6">
      <div id="uploadImage">
        <br>
        <input type='file' name='file' mulitple>
        {{msg}}
      </div> 
    </div>
  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
  </div>
</form>
{%endblock%}
