{%extends 'index.html'%}


{%block mainBlock%}
<h2>below is the prototype form</h2>
<form action="action_page.php">
  <div class="container">
    <h1>report a fly tipping incident</h1>
    <p>Please fill in this form to make your report.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <input type="checkbox"> would you like to recieve emails about your report<br>
    <hr>
    <p>enter post code</p>
    <input type="text" placeholder="Enter post code" name="post code" required>
    <p>please select the address</p>

    <form action="/action_page.php">
      <select name="adress">
        <option value="1">example</option>
        <option value="2">example</option>
        <option value="3">example</option>
        <option value="4">example</option>
      </select><br>
    </form>
    <input type="checkbox"> did you view the incident take place<br>
    <input type="checkbox"> would you be willing to provide a statement<br>
    <p>what kind of waste</p>
    <input type="checkbox"> black bags
    <input type="checkbox"> construction
    <input type="checkbox"> white goods
    <input type="checkbox"> furniture
    <input type="checkbox"> tyres<br>
    <input type="checkbox"> mattress
    <input type="checkbox"> vehicle parts
    <input type="checkbox"> green waste
    <input type="checkbox"> clinical
    <input type="checkbox"> animal carcass<br>

    <p>not listed above? or additional details about waste type?</p>
    <form action="/action_page.php">
      <textarea name="message" rows="5" cols="40">write here</textarea>
      <br>

    </form>
    <p>what was the waste size</p>
    <form action="/action_page.php">
      <input list="browsers" name="browser">
      <datalist id="size">
        <option value="single bag">
        <option value="single item">
        <option value="car boot size">
        <option value="transit van size">
        <option value="tipper lorry load">
        <option value="significant multiple loads">
      </datalist>
    </form>
    <p>other information about size?</p>
    <form action="/action_page.php">
      <textarea name="message" rows="5" cols="40">write here</textarea>

    <button type="submit" class="registerbtn">submit report</button>
  </div>

</form>


{%endblock%}
