{%extends 'index.html'%}

{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="active"></li>
  </ul>
</div>
<h2>Thank you for your report.</h2>
<form class="container" action="/flyreport5">
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo">Thank you for reporting a fly tipping incident. by doing this you have helped your local authority tackle waste dumping in your area.</label>
    </div>
  </div>

  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <button class="btn btn-primary btn-lg">Home</button>
    </div>
  </div>
</form>
{%endblock%}
