{%extends 'index.html'%}

{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li class="active"></li>
    <li></li>
    <li></li>
  </ul>
</div>
<h2>where you a witness?</h2>
<form class="container" action="action_page.php">
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo">*INSERT INFORMATION ON FLY TIPPING HERE*</label>
    </div>
    <div class="col-6 col-md-4">
      <div id="locationDesc">
        <label for="locationDesc">did you witness the waste being dumped?</label>
        <div class="checkbox">
          <label><input type="checkbox" value="">did you witness the waste being dumped?</label>
        </div>

        <input type="checkbox" id="myCheck" onclick="myFunction()"> would you be willing to provide a statment?
        <p id="text" style="display:none">

          <br>
          <label>please enter information about what you whitnessed, this could include vehicle registation or a discription of the individual</label>
          <input id="descHelper" placeholder="provide details of incident" class="form-control" type="text"></input>
          <small id="Description" class="form-text text-muted">Include details such as *Description*</small>
          <br>
          <label>please enter any additional information about what you veiwed</label>
          <input id="descHelper" placeholder="provide additional details of incident" class="form-control" type="text"></input>
          <small id="Description" class="form-text text-muted">Include details such as *Description*</small>
          <br>
          <label>please enter your phone number</label>
          <input id="descHelper" placeholder="enter phone number" class="form-control" type="text"></input>
          <small id="Description" class="form-text text-muted">Include a phone number we can contact you on</small>



        </p>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-4">
      <!-- A slider for specific options -->
      <!-- <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label> -->

    </div>
  </div>
  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <a href="/flyreport4" class="btn btn-primary btn-lg">Continue</a>
    </div>
  </div>
</form>
{%endblock%}
