{%extends 'index.html'%}


{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li></li>
    <li class="active"></li>
    <li></li>
  </ul>
</div>
<h2>Add photos</h2>
<form class="container" action="/flyreport4" method=post enctype=multipart/form-data>
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo"></label>
    </div>
    <div class="col-8 col-md-6">
      <div id="locationDesc">
        <br>
        <br>
        <!-- <label class="switch"> -->
          <!-- <input type="checkbox"> -->
          <!-- <span class="slider round"></span> -->
        <!-- </label> -->
        </div>
      </div
        <p>
          <input type=file name=file>
          <input type=submit value=Upload>
          {{msg}}
    </div>
  <div class="row">
    <div class="col-6 col-md-4">
      <!-- A slider for specific options -->
    </div>
  </div>
  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <button class="btn btn-primary btn-lg">Continue</button>
    </div>
  </div>
</form>
{%endblock%}
