{%extends 'index.html'%}

{%block mainBlock%}

<!-- Progress Bar -->
<br>
<div class="w3-container">
    <ul class="progressBar">
      <li>Important Details</li>
      <li>Additional Details</li>
      <li class="active">witness report</li>
      <li></li>
      <li></li>
    </ul>
  </div>
<br>
<br>
<br>
<hr>

<form id="form3" class="box" action="/flyreport3" method="POST">

    <!-- Witness Field=================================================================================================-->
    <h2>where you a witness?</h2>
    <label for="flyTipInfo">Did you witness a person or persons dumping their waste? If yes then tick the boxes to indicate this. It is important that if you do this you understand you are willing to give a statment to the police. Because of this you must make sure all the information is truthful.</label>
    <br>
    <div class="form-group">
      <div id="locationDesc">
          <div class="checkbox">
            <label><input type="checkbox" value="">did you witness the waste being dumped?</label>
          </div>
          <input type="checkbox" id="myCheck" onclick="myFunction()"> would you be willing to provide a statment?
          <p id="text" style="display:none">
              <br>
              <!-- --first name entry-- -->
              <label>please enter your first name</label>
                <input name="firstname" placeholder="first name" class="form-control" type="text"></input>

              <br>
              <!-- --last name entry-- -->
              <label>please enter your surname</label>
                <input name="surname" placeholder="surname" class="form-control" type="text"></input>

              <br>
              <!-- --number entry-- -->
              <label for="contactnumber">please enter your phone number</label>
                <input name='contactnumber' placeholder="enter phone number" required="" class="form-control" type="text"></input>
                <small id="contactnumber" class="form-text text-muted">Include valid number <br> we need this information in order to contact you about your statement</small>

          </p>
          </div>
    </div>
    <br>

    <!-- Submit -->
    <div class="formgroup">
        <div class="Next">
            <button>Continue</button>
        </div>
    </div>
    <br>

  </form>

{%endblock%}
