{%extends 'index.html'%}

{%block mainBlock%}

<!-- Progress Bar -->
<br>
<div class="containera">
    <ul class="progressBar">
      <li class="active">Important Details</li>
      <li class="active">Waste Details</li>
      <li>Witness Details</li>
      <li>Add Photos</li>
      <li>Report Submission</li>
    </ul>
  <!-- </div> -->
<br>
<br>
<br>
<hr>

<form id="form3" class="box" action="/flyreport3" method="POST">

    <!-- Witness Field=================================================================================================-->
    <h2>Were you a witness?</h2>
    <label for="flyTipInfo">Did you witness a person or persons dumping their waste? If yes then flip the switch to indicate this. It is important that if you do this you understand you are willing to give a statment to the police. Because of this you must make sure all the information is truthful.</label>
    <label>Were you a witness and willing to give a statment?</label>
    <br>
    <div class="form-group">
      <div id="locationDesc">

          <label class="switch">
              <input id="myCheck" type="checkbox" onclick="myFunction2()">
              <span class="slider round"></span>
          </label>

          <p id="text" style="display:none">
              <br>
              <!-- --first name entry-- -->
              <label>please enter your first name</label>
                <input name="firstname" placeholder="first name" class="form-control" type="text"></input>

              <br>
              <!-- --last name entry-- -->
              <label>please enter your surname</label>
                <input name="surname" placeholder="surname" class="form-control" type="text"></input>

              <br>
              <!-- --number entry-- -->
              <label for="contactnumber">please enter your phone number</label>
                <input name='contactnumber' id='phonenum' placeholder="enter phone number" required="" class="form-control" type="number" onkeyup="checknumber()"></input>
                <small id="numerror"></small>
                <small id="contactnumber" class="form-text text-muted">Include valid number <br> we need this information in order to contact you about your statement</small>
          </p>
          </div>
    </div>
    <br>

    <!-- Submit -->
    <div class="formgroup">
        <div class="Next">
            <button formnovalidate>Continue</button>
        </div>
    </div>
    <br>

  </form>

{%endblock%}
