{%extends 'index.html'%}

{%block mainBlock%}
<!-- Progress Bar -->
<br>
  <!-- <div class="w3-container" > -->
    <ul class="progressBar">
      <li class="active">Important Details</li>
      <li class="active">Waste Details</li>
      <li class="active">Witness Details</li>
      <li class="active">Add Photos</li>
      <li class="active">Report Submission</li>
    </ul>
  <!-- </div> -->
<br>
<div class = 'box'>
  <h2>Thank you for your report.</h2>
  <!-- <div class='form-group'> -->
  <!-- <form action="/flyreport5"> -->
    <!-- Content Layout-->
    <!-- <div class="row"> -->
      <!-- <div class="col-2 col-md-7"> -->
        <label for="flyTipInfo">Thank you for reporting a fly tipping incident. by doing this you have helped your local authority tackle waste dumping in your area.</label>
      <!-- </div> -->
    <!-- </div> -->

  </div>
{%endblock%}
