{%extends 'index.html'%}

{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="active"></li>
  </ul>
</div>
<h2>Thank you for your report.</h2>
<form class="container" action="action_page.php">
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo">Thank you for reporting a fly tipping incident. by doing this you have helped your local authority tackle waste dumping in your area.</label>
    </div>
    <div class="col-6 col-md-4">
      <div id="locationDesc">
        <label for="locationDesc">would you like to receive emails about your report?</label>
        <div class="checkbox">
          <label><input type="checkbox" value="">tick here to receive emails about our progress</label>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <a href="/home" class="btn btn-primary btn-lg">Continue</a>
    </div>
  </div>
</form>
{%endblock%}
