{%extends 'index.html'%}
{%block headBlock%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="..\static\fSelect.js"type="text/javascript"></script>
<link href="..\static\fSelect.css" rel="stylesheet">
<script>
  (function($) {
      $(function() {
          $('.test').fSelect();
      });
  })(jQuery);
  </script>
{%endblock%}
{%block mainBlock%}
<!-- Progress Bar -->
<br>
<div class="containera">
    <ul class="progressBar">
      <li class="active">Important Details</li>
      <li>Waste Details</li>
      <li>Witness Details</li>
      <li>Add Photos</li>
      <li>Report Submission</li>
    </ul>
  </div>
<br>
<br>
<br>
<hr>

<!-- Start of Form -->
<div class="box">
  <h2>Type of Waste</h2>
  <hr>
  <form id="form2" class="box" action="/flyreport2">

    <!-- Information -->
    <div>
      <h3> Info on Waste:
          <label class="switch">
              <input id="myCheck" type="checkbox" onclick="myFunction2()">
              <span class="slider round"></span>
          </label>
      </h3>
      <p class="Information" id="text" style="display:none">
        <lavel>*NOTICE: IT IS IMPORTANT NOT TO TAMPER OR ATTEMPT TO OPEN WASTE BAGS*<br>This is due to the danger of unknown items within the waste which could be HARMFUL to your health and others </lavel>
      </p>
    </div>

    <!-- Waste Field -->
    <label for="waste">Select the waste you found</label>
    <div class="form-group">

      <div id="waste">
        <select class="test" id="optionlist" name="wastedropdown" multiple="multiple">
          <optgroup label="Type Of Waste">
              <option name='blkbag' value="blackbags-household">Black bages - household</option>
              <option value="construction">Construction / demolition / excavation</option>
              <option value="whiteGoods">White Goods</option>
              <option value="furniture" >Furniture</option>
              <option value="mattress">Mattress</option>
              <option value="otherUnidentified">Other unidentified</option>
              <option value="greenWaste">Green waste</option>
              <option value="blackBags-commercial">Black Bags - commercial</option>
              <option value="otherCommercialWaste">Other commercial waste</option>
              <option value="vehicleParts">Vehicle parts</option>
              <option value="asbestos">Asbestos</option>
              <option value="chemicalDrums/oil/fuel">Chemical drums, oil, fuel</option>
              <option value="clinical">Clinical</option>
              <option value="animalCarcass">Animal carcass</option>
          </optgroup>
      </select>
        <small class="form-text text-muted">Select waste found</small>
        <br>

        <label for="sel1">Select the waste size (select one):</label>
        <br>

        <ul class="List1">
          <li class="imgL" > Carboot or Less <input type="radio" name ="a" id="cb1" />
            <label for="cb1"><img src="..\static\carboot.jpg" /></label>
          </li>
          <li class="imgL" > Significant loads <input type="radio" name ="a" id="cb2" />
            <label for="cb2"><img src="..\static\multiLoad.jpg" /></label>
          </li class="imgL" >
          <li class="imgL" > Single black bag <input type="radio" name ="a" id="cb3" />
            <label for="cb3"><img src="..\static\singleblack.jpg" /></label>
          </li>
          <br>
          <li class="imgL" > Single item <input type="radio" name ="a" id="cb4" />
            <label for="cb4"><img src="..\static\singleitem.jpg" /></label>
          </li>
          <li class="imgL" > Small van load <input type="radio" name ="a" id="cb5" />
            <label for="cb5"><img src="..\static\smallvan.jpg" /></label>
          </li>
          <li class="imgL" > Tipper lorry load <input type="radio" name ="a" id="cb6" />
            <label for="cb6"><img src="..\static\tippervan.jpg" /></label>
          </li>
          <li class="imgL" > Transit van load <input type="radio" name ="a" id="cb7" />
            <label for="cb7"><img src="..\static\transitvan.jpg" /></label>
          </li>
        </ul>
        <br>

        <label for="descHelper">Waste not listed above? describe waste below</label>
        <input name="locationDescription" placeholder="provide details of the location" class="form-control" type="text"></input>
        <small id="Description" class="form-text text-muted">Include details such as type of waste</small>
        <br>

      </div>
      </div>


    <!-- Submit -->
    <div class="formgroup">
        <div class="Next">
            <button>Continue</button>
        </div>
    </div>
    <br>
  </form>
</div>


{%endblock%}
