{%extends 'index.html'%}

{%block mainBlock%}
<!-- Progress Bar -->
<br>
<div class="w3-container">
    <ul class="progressBar">
      <li>Important Details</li>
      <li class="active">Additional Details</li>
      <li>Confirmation and Submission</li>
      <li></li>
      <li></li>
    </ul>
  </div>
<br>
<br>
<br>
<hr>

<!-- Start of Form -->
<div class="box">
  <h2>Type of Waste</h2>
  <hr>
  <form id="form2" class="box" action="/flyreport2">

    <!-- Information -->
    <div>
      <h3> Info on Waste:
          <label class="switch">
              <input id="myCheck" type="checkbox" onclick="myFunction2()">
              <span class="slider round"></span>
          </label>
      </h3>
      <p class="Information" id="text" style="display:none">
        <lavel>*NOTICE: IT IS IMPORTANT NOT TO TAMPER OR ATTEMPT TO OPEN WASTE BAGS*<br>This is due to the danger of unknown items within the waste which could be HARMFUL to your health and others </lavel>
      </p>
    </div>

    <!-- Waste Field -->
    <label for="waste">Select the waste you found</label>
    <div class="form-group">
      <div id="waste">

        <input type="checkbox" value="Black bages - household">Black bages - household <br>
        <input type="checkbox" value="Construction / demolition / excavation">Construction / demolition / excavation <br>
        <input type="checkbox" value="White Goods">White Goods <br>
        <input type="checkbox" value="Furniture">Furniture <br>
        <input type="checkbox" value="Mattress">Mattress <br>
        <input type="checkbox" value="Other unidentified">Other unidentified <br>
        <input type="checkbox" value="Green waste">Green waste<br>
        <input type="checkbox" value="Black Bags - commercial">Black Bags - commercial<br>
        <input type="checkbox" value="Other commercial waste">Other commercial waste<br>
        <input type="checkbox" value="Vehicle parts">Vehicle parts<br>
        <input type="checkbox" value="Asbestos">Asbestos<br>
        <input type="checkbox" value="Chemical drums, oil, fuel">Chemical drums, oil, fuel <br>
        <input type="checkbox" value="Clinical">Clinical<br>
        <input type="checkbox" value="Animal carcass">Animal carcass<br>


        <small class="form-text text-muted">Select waste found</small>
        <br>

        <label for="sel1">Select the waste size (select one):</label>
        <br>

        <ul>
          <li> Carboot or Less <input type="checkbox" id="cb1" />
            <label for="cb1"><img src="..\static\carboot.jpg" /></label>
          </li>
          <li> Significant loads <input type="checkbox" id="cb2" />
            <label for="cb2"><img src="..\static\multiLoad.jpg" /></label>
          </li>
          <li> Single black bag <input type="checkbox" id="cb3" />
            <label for="cb3"><img src="..\static\singleblack.jpg" /></label>
          </li>
          <br>
          <li> Single item <input type="checkbox" id="cb4" />
            <label for="cb4"><img src="..\static\singleitem.jpg" /></label>
          </li>
          <li> Small van load <input type="checkbox" id="cb5" />
            <label for="cb5"><img src="..\static\smallvan.jpg" /></label>
          </li>
          <li> Tipper lorry load <input type="checkbox" id="cb6" />
            <label for="cb6"><img src="..\static\tippervan.jpg" /></label>
          </li>
          <li> Transit van load <input type="checkbox" id="cb7" />
            <label for="cb7"><img src="..\static\transitvan.jpg" /></label>
          </li>
        </ul>
        <br>

        <label for="descHelper">Waste not listed above? describe waste below</label>
        <input name="locationDescription" placeholder="provide details of the location" class="form-control" type="text"></input>
        <small id="Description" class="form-text text-muted">Include details such as type of waste</small>
        <br>

        </div>
      </div>


    <!-- Submit -->
    <div class="form-group">
        <div class="Next">
            <button class="btn btn-primary btn-lg">Continue</button>
        </div>
    </div>
    <br>
    <!-- <button onclick="disable()">Disable checkbox</button> -->
  </form>
</div>

<!-- <script>
  $('cb1 input:checkbox').click(function(){
      var $inputs = $('input input:checkbox');
      if($(this).is(':checked')){  // <-- check if clicked box is currently checked
         $inputs.not(this).prop('disabled',true); // <-- disable all but checked checkbox
      }else{  //<-- if checkbox was unchecked
         $inputs.prop('disabled',false); // <-- enable all checkboxes
      }
  });
  function disable() {
    document.getElementById("cb1").disabled = true;
} -->

</script>
{%endblock%}
