{%extends 'index.html'%}
{%block extra_head%}

{%endblock%}
{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container">
    <ul class="progressBar">
      <li class="active">Important</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
<br>
<!-- Start of Form -->
<div class="box">
  <h2>Identify the area of the incident</h2>
  <hr>
  <h3>Location</h3>
  <form id="form1" action="/flyreport1" method="POST">
    <hr>
    <!-- Information -->
    <div>
      <label> Information:
          <label class="switch">
              <input id="myCheck" type="checkbox" onclick="myFunction2()">
              <span class="slider round"></span>
          </label>
          </label>

      <p class="Information" id="text" style="display:none">
          <label>During 2016-17, local authorities in Wales reported 38,614 fly-tipping incidents, representing an annual increase of around 2,400 incidents (6 per cent). This compares with an annual increase of 14 per cent in the number of incidents between 2014-15 and 2015-16. Previously, the number of incidents had consistently fallen from a peak of nearly 62,000 incidents in 2007-08 to around 31,700 in 2014-15. Estimated fly-tipping clearance costs have slightly risen from £2.1 million in 2015-16 to £2.2 million in 2016-17</label>
      </p>
    </div>

    <!-- Autocomplete Field -->
    <label for="tipLocation">Select Between the use of an Address or Map</label>
    <div class="form-group">
        <input name='tipLocation'  id="autocomplete" placeholder="Enter an address" onfocus="geolocate()"class="form-control" type="text" required=""></input>
    </div>

    <!-- Submit -->
    <div class="form-group">
        <div class="Next">
            <button class="btn btn-primary btn-lg">Continue</button>
        </div>
    </div>
    <br>
  </form>
</div>

<!-- Scripting -->
<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbz3hw9mrTSD_ogVStiYLh2tp-I0cKkJ8&libraries=places&callback=initAutocomplete"
    type="text/javascript"></script>
{%endblock%}
