{%extends 'index.html'%}


{%block mainBlock%}
<!-- Progress Bar -->
<div class="w3-container" action="action_page.php">
  <ul class="progressBar">
    <li></li>
    <li></li>
    <li></li>
    <li class="active"></li>
    <li></li>
  </ul>
</div>
<h2>Were you a witness?</h2>
<form class="container" action="action_page.php">
  <!-- Content Layout-->
  <div class="row">
    <div class="col-2 col-md-7">
      <label for="flyTipInfo"></label>
    </div>
    <div class="col-6 col-md-4">
      <div id="locationDesc">
        <label for="locationDesc">Describe the location of the incident</label>
        <br>
        <input id="descHelper" placeholder="provide details of the location" class="form-control" type="text"></input>
        <small id="Description" class="form-text text-muted">Include details such as *Details*</small>
        <br>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-6 col-md-4">
      <!-- A slider for specific options -->


    </div>
  </div>
  <div class="row">
    <!-- Next Page -->
    <div class="Next">
      <a href="/flyreport5" class="btn btn-primary btn-lg">Continue</a>
    </div>
  </div>
</form>
{%endblock%}
